.login-container {
    /* background: url(https://img.freepik.com/free-photo/pop-art-style-speech-bubbles-yellow-backdrop_23-2147910070.jpg?w=740&t=st=1708759189~exp=1708759789~hmac=9f20f24c9d00efded3b7a4320e2e3548ae3db1c91ff679f991fb657e25961c5a); */
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}